.a-wrapper{
  width: 100%;
  max-width: 720px;
  padding: 30px;
  border-right: 1px solid #DFE0EB;
}

.a-trend-left-box{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;
}

.trend-title{
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #252733;
}

.a-trend-rh_st{
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #9FA2B4;
}

.a-trend-rh{
  display: flex;
}

.a-trend-rh_st--br{
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.a-trend-rh_st--br::before{
  position: absolute;
  width: 16px;
  left: -24px;
  border-bottom: 2px solid #DFE0EB;
  content: "";
}

.a-trend-rh_st--br:nth-child(1){
  margin-right: 56px;
}

.trend-bg{
  width: 720px;
  height: 406px;
  background-image: url("../../Assets/Images/trend-bg.svg");
}
